.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navbar h1 {
    font-size: 60px;
    font-weight: 600;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}


.navbar .right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar .right p {
    font-size: 18px;
    font-weight: 500;
    color: black;
    cursor: pointer;
}

.navbar .right p.active {
    font-weight: 600;
    font-size: 18px;

}
